<p><strong>Welcome to the Login Page! (Hint: Username: u | Password: p)</strong></p>
<form action='/login' method='post'>
  Username: <input type='text' name='username'></input><br>
  Password: <input type='text' name='password'></input>
  <br>
  <input type='submit' name='submit'></input>
</form>
